*{
    margin: 0px;
    padding: 0px;
    font-family: "Aleo", serif;
}

.fondo{
    display: flex;
    flex-direction: column;
}

/*Seccion barberos*/

/*Cabecera*/

.barberos{
    background-color: #0D0B22;
    height: 83vh;
    width: 100%;
}

.cabecera{
    position: relative;
    padding-right: 3%;
    padding-left: 3%;
    margin-top: 3.5%;
    width: 94%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.icon-menu{
    width: 33px;
}

.btn-menu{
    background-color: #ffffff00;
    border: none;
    transition: all 0.5s ease;
}

.btn-menu:hover{
    transform: scale(1.2);
}

.titulo{
    text-shadow: 0px 3px 3px  rgba(240, 248, 255, 0.2);
    width: 400px;
    text-align: center;
    margin-left: 22%;
    color: aliceblue;
    font-size: 35px;
}

.barra-busqueda{
    box-shadow: 0px 0px 15px 0px rgba(240, 248, 255, 0.15);
    width: 250px;
    height: 30px;
    background-color: #ffffff00;
    border-radius: 20px;
    border: 1.5px solid aliceblue;
    color: aliceblue;
    padding-left: 20px;
    font-size: 15px;
    margin-left: 18%;
}

/*Seccion servicios*/

.servicios{
    position: relative;
    background-color: #151231;
    height: 83vh;
    width: 100%;
}

/*Seccion productos*/

.productos{
    position: relative;
    background-color: #0D0B22;
    height: 83vh;
    width: 100%;
}

/*Seccion productos*/

.ubicaciones{
    position: relative;
    background-color: #151231;
    height: 83vh;
    width: 100%;
}

/*Seccion ofertas*/

.ofertas{
    position: relative;
    background-color: #0D0B22;
    height: 83vh;
    width: 100%;
}

/*Seccion preguntas*/

.preguntas{
    position: relative;
    background-color: #151231;
    height: max-content;
    width: 100%;
}

.cabecera-preguntas{
    position: relative;
    padding-right: 38%;
    padding-left: 3%;
    margin-top: 3.5%;
    width: 58%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.titulo-preguntas{
    text-shadow: 0px 3px 3px  rgba(240, 248, 255, 0.2);
    width: 400px;
    text-align: center;
    margin-left: 37%;
    color: aliceblue;
    font-size: 35px;
}

/*Seccion contacto*/

.contacto{
    color: aliceblue;
    flex-direction: column;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #0D0B22;
    height: 42vh;
    width: 100%;
}

.titulo-cont{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 35px;
}

.icono-cont{
    width: 20px;
    margin-right: 10px;
}

.text-cont{
    color: aliceblue;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 20px;
    transition: all 0.5s ease;
}

.text-cont:hover{
    transform: scale(1.1);
}

/*Seccion barberos y servicios*/

/*Slider*/


.btn-right,
.btn-left{
    text-align: center;
    padding-top: 10%;
    z-index: 1;
    color: aliceblue;
    font-size: 30px;
    border: none;
    background-color: rgba(13, 11, 34, 0.8);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    width: 5%;
    height: calc(290px - 10%);
    transition: all 0.5s ease;
}

.btn-right{
    left: 95%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-right:hover,
.btn-left:hover{
    background-color: #ffffff00;
    transform: scale(1.2);
}

.opciones{
    overflow: hidden;
    margin-top: 5%;
    width: 100%;
    height: 300px;
}

.lista{
    position: relative;
    transition: transform 0.5s;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.opc{
    overflow: hidden;
    object-fit: cover;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    aspect-ratio: 16 / 9;
    display: flex;
    flex: 0 0 auto;
    width: 17%;
    margin-left: 2.4%;
    height: 100%;
}

.tarjeta{
    width: 90%;
    height: 90%;
    padding: 5%;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(217, 217, 217, 0.1);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
}

.icon-fav{
    width: 20px;
    margin-left: -7.4%;
    position: absolute;
}

.foto{
    border-radius: 10px;
    width: 120px;
    height: 140px;
    box-shadow: 0px 0px 10px 2px #0D0B22;
}

.nombre{
    text-shadow: 0px 3px 3px  #0D0B22;
    text-align: center;
    font-weight: 700;
    margin-top: 15px;
    font-size: 17px;
    color: aliceblue;
}

.linea{
    text-shadow: 0px 2px 3px  #0D0B22;
    margin-top: -10px;
    margin-bottom: 3px;
    font-size: 17px;
    color: aliceblue;
}

.desc-ubi,
.desc{
    text-shadow: 0px 2px 3px  #0D0B22;
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    font-size: 13px;
    color: aliceblue;
}

/*Seccion productos*/

/*Slider*/

.btn-right-pro,
.btn-left-pro{
    z-index: 1;
    color: aliceblue;
    font-size: 30px;
    border: none;
    background-color: rgba(13, 11, 34, 0.8);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    width: 5%;
    height: 330px;
    transition: all 0.5s ease;
}

.btn-right-pro{
    left: 95%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-right-pro:hover,
.btn-left-pro:hover{
    background-color: #ffffff00;
    transform: scale(1.2);
}

.opciones-pro{
    overflow: hidden;
    margin-top: 3.3%;
    width: 100%;
    height: 340px;
}

.cont-precio{
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    bottom: 5px;
}

.icon-car,
.icon-favorito{
    width: 20px;
}

.precio{
    text-shadow: 0px 3px 3px  #0D0B22;
    color: aliceblue;
    font-weight: 600;
    margin-left: 30px;
    margin-right: 30px;
}

.btn-fav,
.btn-car{
    background-color: #ffffff00;
    border: none;
    transition: all 0.5s ease;
}

.btn-fav:hover,
.btn-car:hover{
    transform: scale(1.2);
}

/*Seccion ubicaciones*/

/*Slider*/

.desc-ubi{
    font-size: 15px;
    height: 40%;
    font-weight: 600;
}

/*Seccion preguntas*/

.cont-preg{
    margin-top: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.preg{
    width: 80%;
    color: aliceblue;
    margin-bottom: 30px;
}

.txt-preg{
    text-shadow: 0px 3px 3px  #0D0B22;
    margin-left: 8px;
    font-size: 17px;
}

.txt-resp{
    text-shadow: 0px 3px 3px  #0D0B22;
    margin-top: 4px;
    font-size: 14px;
    background-color: rgba(217, 217, 217, 0.1);
    padding: 0.8%;
    border-radius: 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}